In [3]:
import pandas as pd
import numpy as np

In [13]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','colmn3','column4'])

In [14]:
df

      column1  column2  colmn3  column4
row1        0        1       2        3
row2        4        5       6        7
row3        8        9      10       11
row4       12       13      14       15
row5       16       17      18       19

In [15]:
df.head()

      column1  column2  colmn3  column4
row1        0        1       2        3
row2        4        5       6        7
row3        8        9      10       11
row4       12       13      14       15
row5       16       17      18       19

In [16]:
df.tail()

      column1  column2  colmn3  column4
row1        0        1       2        3
row2        4        5       6        7
row3        8        9      10       11
row4       12       13      14       15
row5       16       17      18       19

In [19]:
df.loc['row1']

column1    0
column2    1
colmn3     2
column4    3
Name: row1, dtype: int32

In [20]:
df.to_csv("Test.csv")

In [24]:
df.iloc[0:3,0:2]

      column1  column2
row1        0        1
row2        4        5
row3        8        9

In [25]:
df.iloc[0:3,0:2].values

array([[0, 1],
       [4, 5],
       [8, 9]])